header
  input(type='hidden' id='client_url' name='client_url' value=`${client_url}`)
  input(type='hidden' id='api_url' name='api_url' value=`${api_url}`)
  input(type='hidden' id='api_port' name='api_port' value=`${api_port}`)
  input(type='hidden' id='ws_port' name='ws_port' value=`${ws_port}`)
  input(type='hidden' id='ip_address' name='ip_address' value=`${ip_address}`)
  input(type='hidden' id='sorter_port' name='sorter_port' value=`${sorter_port}`)
  input(type='hidden' id='sorter_request_lapse' name='sorter_request_lapse' value=`${sorter_request_lapse}`)
  